.vs/
*.db
*.pdb
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.sourcelink.json
GreatCalculator.client.AssemblyInfo.cs
GreatCalculator.client.AssemblyInfoInputs.cache
GreatCalculator.client.assets.cache
*.dll
*.exe
GreatCalculator.client/obj/Debug/net7.0/GreatCalculator.client.sourcelink.json
