.vs/
*.db
*.pdb
bin/
obj/
*.cache
*.sourcelink.json
GreatCalculator.client.AssemblyInfo.cs
GreatCalculator.client.AssemblyInfoInputs.cache
GreatCalculator.client.assets.cache
*.dll
*.exe
**/*.dll
**/*.json
**/*.cache
**/Debug/
**/Release/
GreatCalculator.client/obj/Debug/net7.0/GreatCalculator.client.sourcelink.json
